<body style="margin: 1rem;">

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-1 navbar-light amber lighten-2" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Lawry 2A</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink='/' routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink='/shower-queue' routerLinkActive='active'>Shower Queue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink='/chores' routerLinkActive='active'>Chores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink='/shopping-list' routerLinkActive='active'>Shopping List</a>
          </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar--> 
  <router-outlet></router-outlet>

  
</body>